.width {
    max-width: 1140px;
}
.admin-container > .width {
    padding-top: 80px;
}
#exit {
    padding-top: 8px;
}
.slides {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.slides figure {
    margin-right: 15px;
}
.slides .form-group {
    width: 70%;
    margin: 0 10px 0 0;
}
.glyphicon-remove {
    cursor: pointer;
}
.glyphicon-remove:before {
    color: #d9534f;
}